<h1>Tạo ghi chú mới</h1>
<form [formGroup]="todoForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Nội dung:</td>
      <td><input type="text" formControlName="content"></td>
      <td></td>
    </tr>
    <tr>
      <td>Hoàn thành:</td>
      <td><input type="radio" formControlName="complete" value="false"><span>Chưa</span></td>
      <td><input type="radio" formControlName="complete" value="true"><span>Rồi</span></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <button>Tạo mới</button>
      </td>
    </tr>
  </table>
</form>
